@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.text-animate {
  background: linear-gradient(-45deg, #af3f1d, #f4045c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s ease infinite;
  background-size: 400% 400%;
  font-weight: bold;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animate {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(6, 9, 44) 100%);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: bg-animation 60s ease-in-out infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 0%;
  }

  10% {
    background-position: 100% 100%;
  }

  20% {
    background-position: 0% 100%;
  }

  30% {
    background-position: 100% 0%;
  }

  40% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  60% {
    background-position: 100% 0%;
  }

  70% {
    background-position: 0% 0%;
  }

  80% {
    background-position: 0% 100%;
  }

  90% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.text-big {
  font-size: 1.5rem;
  line-height: 1;
}

@screen sm {
  .text-big {
    font-size: 2rem;
  }
}

@screen md {
  .text-big {
    font-size: 3rem;
  }
}

@screen lg {
  .text-big {
    font-size: 4rem;
  }
}

@screen xl {
  .text-big {
    font-size: 5rem;
  }
}

@screen 2xl {
  .text-big {
    font-size: 6rem;
  }
}

.text {
  opacity: 0.15;
  transition: opacity 0.5s;
}

.text-active {
  opacity: 1;
}

.text:not(.text-active)>.text-animate {
  background: linear-gradient(-45deg, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s ease infinite;
  background-size: 400% 400%;
  font-weight: bold;
}